#block {
	background-color:black;
	color:silver;
}
#block:hover {
	color:white;
}

.rank {
	padding: 2px;
}

.message {
	font-size: 25px;
}

.upvote {
	color:blue;
}
.upvote:hover {
	color:cyan;
}
.downvote {
	color:red;
}
.downvote:hover {
	color:orange;
}