{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/pitches.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    {% block css%}{% endblock %}
</head>

<body>
    <div class="top-bar topbar-center-logo" id="topbar-center-logo">
        <div class="top-bar-left">
            <ul class="menu vertical medium-horizontal">
                <li>
                    <a href="/">
                        <p class="logo">GRUVEST</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="account">
            <ul class="menu vertical medium-horizontal">
                {% if user.is_authenticated %}
                   <li> <a href="/logout/">Logout</a> </li>
                {% else %}
                  <li> <a href="/login/">Login</a> </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="#">Welcome: {{user.username}}</a></li>
                {% else %}
                <li><a>Welcome: Guest</a></li>
                {% endif %}
                <li><a href="/post">Pitch!</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'addFunds' user.id %}">Add Money</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    
    {% block content %}{% endblock %}
    
    <script scr="{% static "js/vendor.js" %}"></script>
    <script scr="{% static "js/foundation.js" %}"></script>
    {% block stripts %}{% endblock %}
</body>

</html>
