{% load static %}
<!DOCTYPE html>
<html>
     <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{title}}</title>
            <link rel="stylesheet" href="{% static "css/foundation.css" %}">
            
            {% block css%}{% endblock %}
        </head>
    <body>
        <h1 style="text-align: center;">
            GRUVEST
        </h1>
            <ul>
                {% for itor in post %}
                    <div class="callout flex-container align-center align-justify">

                        <h3>{{itor.header}}</h3>
						<p>{{itor.post}}</p>
						<div>
							<button type="button" onClick={{itor.addUpvote}}>Upvote</button>
							<button type="button" onClick={{itor.addDownvote}}>Downvote</button>
						</div>
                        <div>
							Pitch Rank: {{itor.vote}}
                        </div>

                    </div>
                {% endfor %}
            </ul>
           
            <form action='/' method="post">
                {% csrf_token %}
                {{form}}  
                <input type="submit" class="button" value="Submit"/>
            </form>
       
        
        
        {% block content %}{% endblock %}
        <script scr="{% static "js/vendor.js" %}"></script>
        <script scr="{% static "js/foundation.js" %}"></script>
        {% block stripts %}{% endblock %}
    </body>
</html>
