{% extends "base.html" %}
{% block content %}
<div>
    {% if user.is_authenticated %}
    Current Funds: ${{ user.catchermodel.funds }}
    Subscriptions:
    {% for itor in subscription %}
        {{ itor.pitcher }}
    {% endfor %}

    {% else %}
    Current Funds: $0
    {% endif %}
</div>
<a href="/" class="button">Popularity</a>
<a href="{% url 'sortedCost' %}" class="button">Cost</a>
<a href="{% url 'sortedDate' %}" class="button">Date</a>
<p> sorted by: {{sort}} </p>
<ul class="pitch-list-column">
    {% for pItor in post %}
    <p class="net-votes">{{pItor.getTotalVotes}}</p>
    <div class="pitch-list">
        <div class="voting-buttons">
            <form action="{% url 'upVotePost' pItor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="upvote-button"
                    style='font-size:25px;'>&#8593</button>
            </form>
            <form action="{% url 'downVotePost' pItor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="downvote-button"
                    style='font-size:25px;'>&#8595</button>
            </form>
        </div>
        <div class="abstracted-pitch-info">
            <a href="{% url 'pitchDetail' pItor.pk %}" id="pitch-title">{{pItor.header}}</a>
            <p id="abstracted-pitch-info-cost">Pitcher: {{pItor.author}}</p>
            <p id="abstracted-pitch-info-cost">Made On: {{pItor.published_on}}</p>
            <p id="abstracted-pitch-info-cost">Cost: {{pItor.cost}}</p>
            <form action="{% url 'sub' pItor.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="subscribe-button">
                    Subscribe
                </button>
            </form>
        </div>
        <br>
    </div>
    {% endfor %}
</ul>
</div>
{% endblock %}