{% extends "base.html" %}
{% block content %}

<div>
    {% if user.is_authenticated %}
    Current Funds: ${{ user.catchermodel.funds }}
    {% else %}
    Current Funds: $0
    {% endif %}
</div>

<a href="/" class="button">Popularity</a>
<a href="{% url 'sortedCost' %}" class="button">Cost</a>
<a href="{% url 'sortedDate' %}" class="button">New</a>
<p> sorted by: {{sort}} </p>

<div id=GridContainer style="
	display: grid;
	grid-template-columns: 7fr 5fr;
	grid-template-rows: auto;
">

<div class="pitch-list-column">
    {% for pItor in post %}
    <p class="net-votes">{{pItor.getTotalVotes}}</p>
    <div class="pitch-list">
        <div class="voting-buttons">
            <form action="{% url 'upVotePost' pItor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="upvote-button"
                    style='font-size:25px;'>&#8593</button>
            </form>
            <form action="{% url 'downVotePost' pItor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="downvote-button"
                    style='font-size:25px;'>&#8595</button>
            </form>
        </div>
        <div class="abstracted-pitch-info">
            <a href="{% url 'pitchDetail' pItor.pk %}" id="pitch-title">{{pItor.header}}</a>
            <p id="abstracted-pitch-info-cost">Pitcher: {{pItor.author}}</p>
            <!--<p id="abstracted-pitch-info-cost">Made On: {{pItor.published_on}}</p>-->
            <p id="abstracted-pitch-info-cost">Price: ${{pItor.cost}}</p>
            <form action="{% url 'sub' pItor.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ pItor.id }}" id="subscribe-button">
                    Subscribe
                </button>
            </form>
        </div>
        <br>
    </div>
    {% endfor %}
</div>

<div id=ComparisonGraphAndUserinfo style="
	display: grid;
	grid-template-rows: 4fr 1fr 4fr;
">
    <div id=ComparisonGraphContainer>
        <canvas id=ComparisonGraph height=0 width=0>
            Your browser does not support html canvas.
        </canvas>
    </div>

    {% if user.is_authenticated %}
    <div class="notebook">
        <button class="tablinks" onclick="openTab(event, 'subscriptions')">Subscriptions</button>
        <button class="tablinks" onclick="openTab(event, 'subscribers')">Subscribers</button>
    </div>

    <div id="subscriptions" class="tabcontent">
        <!--<h3>Subscriptions</h3>-->
        <div>
            {% if user.is_authenticated %}
            {% for itor in subsPages %}
            <a href="{% url 'pitchDetail' itor.pk %}" >{{itor.author}}</a>
            <br></br>
            {% endfor %}
            {% endif %}
        </div>

    </div>

    <div id="subscribers" class="tabcontent">
    {% for itor in usersSubToUser %}
    {{itor.subscriber}}
    <br></br>
    {% endfor %}
    </div>
    {% else %}
    <div id=LoginForm>
        <h2>You are not Logged in.</h2>
        <h1>Go to Login</h1>
    </div>
    {% endif %}
</div>
<!--comparison-graph--and--userinfo-->
</div><!--GridContainer-->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
    function one_time(func) {
        var canvas;
        return function () {
            if (func) {
                canvas = func.apply();
                func = null;
            }
            return canvas;
        }
    }
    var canvas = one_time(function () {
        let canvasContainerStyle = window.getComputedStyle(document.getElementById("ComparisonGraphContainer"));
        var canvas = document.getElementById("ComparisonGraph");
        canvas.height = parseInt(canvasContainerStyle.height);
        canvas.width = parseInt(canvasContainerStyle.width);
        return canvas;
    })();

    /*let xaxis = [...Array(100).keys()]*/
    var ctx = document.getElementById('ComparisonGraph').getContext('2d');
    var myChart = new Chart(ctx, {
        animationEnabled: false,
        type: 'line',
        data: {
            labels: {{ SPYlabels }},
    datasets: [{
        label: '% change',
        data: {{ SPYdeltas }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: '#5dbcd2',
        borderWidth: 3,
        fill: false,
    }]
    },
    options: {
        elements: {
            line: {
                tension: 0 /* disables bezier curves */
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    } 
</script>
{% endblock %}


