
{% extends "base.html" %}
{% block content %}
{% block title %}post{% endblock %}
    <div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 medium-8 small-12 large-offset-2 medium-offset-4 cell">
                <form action="{% url 'postPitch'  %}" method="post" class="callout text-center">
                    <h2>Enter your pitch</h2>
                    <div class="text-left">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" class="button button-enter" value="Submit" />
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}



