<div class="callout flex-container align-center align-justify">
    <h3>{{object.header}}</h3>
    <p>{{object.post}}</p>
    <p> cost: {{object.cost}}</p>
    
    <div>
        <form action="{% url 'upVotePost' object.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="button">Upvote</button>
        </form>
        <form action="{% url 'downVotePost' object.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="button">Downvote</button>
        </form>
    </div>

    <h4>Total Votes: {{object.getTotalVotes}}</h4>

    {% if object.comments.all %}
    {% for cItor in object.comments.all %}
    <div class="callout flex-container">
        <p>{{cItor.comment}}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>