{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}view pitch{% endblock %}

    <head>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/view_pitch.css' %}">
        <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
        {% block css%}{% endblock %}
    </head>


<body>
    <div>
        {% if user.is_authenticated %}
        Current Funds: ${{ user.catchermodel.funds }}
        {% else %}
        Current Funds: $0
        {% endif %}
    </div>

<div id=GridContainer style="
	display: grid;
	justify-content: center;
">
    <div id=ComparisonGraphContainer style="
		height: 30vh; 
		width: 60vw;
	">
        <canvas id=ComparisonGraph height=0 width=0>
            Your browser does not support html canvas.
        </canvas>
    </div>	

    <div class="detail-page">
        <p class="net-votes">{{object.getTotalVotes}}</p>
        <div class="pitch-list">
            <div class="voting-buttons">
                <form action="{% url 'upVotePost' object.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{ object.id }}" id="upvote-button"
                        style='font-size:25px;'>&#8593</button>
                </form>
                <form action="{% url 'downVotePost' object.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{ object.id }}" id="downvote-button"
                        style='font-size:25px;'>&#8595</button>
                </form>
            </div>
            <div class="pitch-info">
                <div>
                    <p id="pitch-title">{{object.header}}</p>
                    <p id="pitch-cost"> cost: {{object.cost}}</p>
                </div>
                <br>
                <div>
                    <p id="pitch-post">Please subscribe to view content</p>
                </div>
            </div>
            <a href="{% url 'postComment' object.pk %}">Comment</a>
            <div class="pitch-comments">
                {% if object.comments.all %}
                {% for cItor in object.comments.all %}
                <p id="comment">{{cItor.comment}}</p>
                <p>Pitcher: {{cItor.author}}</p>
                <p>Made On: {{cItor.published_on}}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div><!--GridContainer-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
    function one_time(func) {
        var canvas;
        return function () {
            if (func) {
                canvas = func.apply();
                func = null;
            }
            return canvas;
        }
    }
    var canvas = one_time(function () {
        let canvasContainerStyle = window.getComputedStyle(document.getElementById("ComparisonGraphContainer"));
        var canvas = document.getElementById("ComparisonGraph");
        canvas.height = parseInt(canvasContainerStyle.height);
        canvas.width = parseInt(canvasContainerStyle.width);
        return canvas;
    })();

    /*let xaxis = [...Array(100).keys()]*/
    var ctx = document.getElementById('ComparisonGraph').getContext('2d');
    var myChart = new Chart(ctx, {
        animationEnabled: false,
        type: 'line',
        data: {
            labels: {{ SUMlabels }},
    datasets: [{
        label: '% change',
        data: {{ SUMdeltas }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: '#5dbcd2',
        borderWidth: 3,
        fill: false,
    }]
    },
    options: {
        elements: {
            line: {
                tension: 0 /* disables bezier curves */
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</body>

{% endblock %}
