.pitch-list-column
{
    background-color: silver;
    width: 1000px;
    height: 100%;
    margin: auto;
    display: inline-block;
}

.net-votes
{
    font-size: 20px;
    color: black;
    margin: 15px;
    float: left;
}

.pitch-list
{
    width: 80%;
    margin:auto;
}

.voting-buttons
{
    float: left;
}

.voting-buttons button{
    border: 1px black;
    padding: 5px 5px;
    cursor: pointer; /* Pointer/hand icon */
    margin: none;
    /*width: 50%;*/
    display: block; /* Make the buttons appear below each other */
    float: left;
}
  
.voting-buttons button:not(:last-child)
{
    border-right: none; /* Prevent double borders */
}
  
/* Add a background color on hover */
.voting-buttons button:hover
{
    background-color: silver;
}

#upvote-button
{
    font-style: bold;
}
#upvote-button:hover
{
    color: white;
    background-color: springgreen;
}

#downvote-button
{
    font-style: bold;
}
#downvote-button:hover
{
    color: white;
    background-color: grey;
}

.abstracted-pitch-info
{
    font-family: Tahoma, Geneva, sans-serif;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 10px;
    padding: 0px;
    font-size: 25px;
    min-height: 80px;
    height: 100%;
    background-color: GhostWhite;
    margin:auto;
}

#abstracted-pitch-info-cost
{
    float: right;
    color: grey;
    margin: 0px 5px;
}

#pitch-title
{
    color: dodgerblue;
    float: left;
    padding: 0px 10px;
}

#ComparisonGraphAndUserinfo {
    display: inline-block;
}

#ContentSplit > #ComparisonGraphAndUserinfo {
	/* Display */
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 2fr;
	height: 100%;
	width: 100%;
}

#ComparisonGraphContainer {
	/* Display */
	/* Position */
	margin: 1rem 1rem 0 1rem;
}

#ComparisonGraphAndUserinfo > #Userinfo {
	/* Display */
	display: grid;
	grid-template-rows: 1fr 9fr;
	/* Alignment */
	align-content: center;
}


/* Style the tab */
.notebook {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
  
  /* Style the buttons inside the tab */
.notebook button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.notebook button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.notebook button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}