.topbar-center-logo .menu {
    background-color: springgreen;
    padding: 0px;
}
  
.topbar-center-logo .menu a {
    background-color: springgreen;
    color: black;
}
  
.topbar-center-logo .top-bar-center {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-style: bold; 
    background-color:salmon;
    color: black;
    padding: 5px;
}

.account
{
    background-color: springgreen;
    padding: 21px;
}